.address-banner {
  z-index: 1;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 5px 11px 20px 2px rgba(199, 199, 199, 0.8);
  -moz-box-shadow: 5px 11px 20px 2px rgba(199, 199, 199, 0.8);
  border-radius: 10px;
  height: auto;
  width: 60%;
  justify-content: space-between;
  margin-top: 4%;
  padding: 20px 40px;
  text-align: left;

  .item {
    align-self: flex-start;
    left: 0;
    position: relative;
    h4 {
      color: #a2a2a2;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .desc {
      color: black;
      font-size: 22px;
      margin-top: 50px;
      font-weight: bold;
    }
  }

  .divider {
    border-left: 1px solid #a2a2a2;
    border-right: 1px solid #a2a2a2;
    height: 80px;
    position: relative;
    margin-right: 50px;
  }

  @media screen and (max-width: $xx-large) {
    width: 70%;
    .divider {
      margin-right: 23px;
    }
  }

  @media screen and (max-width: $x-large) {
    width: auto;
    flex-direction: column;
    .divider {
      display: none;
    }
    .item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; 
      height: 100%;
      h4 {
       font-size: 12px;
       margin: 5px 0;
      } 
      .desc {
        margin: 5px 0;
        font-size: 18px;

      } 
    } 
  }

  @media screen and (max-width: $s-medium) {
    width: auto;
    margin-top: 20%;
  }
}
