.map-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.leaflet-container {
  background-color: rgb(163, 206, 255);
  height: 100vh;
  width: 100vw;
}

.marker-icon {
  z-index: 800 !important
}


.search {
  z-index: 400;
  top: 13px;
  left: 49px;
  width: 251px;
}

.collapse_search {
  z-index: 500;
  top: 120px;
  left: 15px;
  width: 300px;
  position: relative;
}

.image-container {
  position: absolute;
  width: 150;
  z-index: 400;
  /* top: 180px; */
  bottom: 60px;
  left: 10px;
  max-width: 120px;
  /* min-width: ; */
  /* //min-height: ; */
  max-height: 120px;
}

.scale-control {
  position: absolute;
  top: 0;
  left: 0;
}
